<div class="container">
    <h1 class="mt-3 mb-3">Showing Busses</h1>
<table class='table'>
    <thead>
        <tr>
            <th>Bus Id</th>
            <th>Bus Name</th>
            <th>Bus Type</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Price</th> 
            <th>Duration</th>
            <th>Proceed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bus of buses" >
            <td>{{bus.busId}}</td>
            <td>{{bus.busName}}</td>
            <td>{{bus.busType}}</td>
            <td>{{bus.dateOfTravel}}</td>
            <td>{{bus.source}}</td>
            <td>{{bus.destination}}</td>
            <td>{{bus.arrivalTime}}</td>
            <td>{{bus.depatureTime}}</td>
            <td>{{bus.fare}}</td>
            <td>{{bus.duration}}</td>
            <td>
                <button class="btn btn-primary" (click)="onClick(bus.busId)">Book Ticket</button> 
            </td>
       </tr>
    </tbody>
</table>
</div>