<form (submit)="onSubmit()" class="form-group">
  <div class="row mb-3 mt-3">
    <div class="col">
      <label>User Id</label>
      <input
        name="user_Id"
        type="text"
        disabled
        class="form-control"
        [(ngModel)]="user.user_Id"
      />
    </div>
    <div class="col">
      <!-- <label>Wallet</label>
      <input
        name="wallet"
        type="text"
        disabled
        class="form-control col"
        [(ngModel)]="user.wallet"
      /> -->
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label>First Name</label>
      <input
        name="fname"
        type="text"
        class="form-control"
        [(ngModel)]="user.fname"
      />
    </div>
    <div class="col">
      <label for="user_Id">Last Name</label>
      <input
        name="lname"
        type="text"
        class="form-control col"
        [(ngModel)]="user.lname"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label>Contact Number</label>
      <input
        name="phoneNo"
        type="text"
        class="form-control"
        [(ngModel)]="user.phoneNo"
      />
    </div>
    <div class="col">
      <label for="user_Id">Mail</label>
      <input
        name="mail"
        type="text"
        class="form-control col"
        [(ngModel)]="user.mail"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label>DOB</label>
      <input
        name="dob"
        type="date"
        class="form-control"
        [(ngModel)]="user.dob"
      />
    </div>
    <div class="col">
      <label for="user_Id">Address</label>
      <input
        name="address"
        type="text"
        class="form-control col"
        [(ngModel)]="user.address"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label>Gender</label>
      <input
        name="gender"
        type="text"
        class="form-control"
        [(ngModel)]="user.gender"
      />
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary">Update Profile</button>
    </div>
    <div class="col"></div>
  </div>
</form>
